<div class="displayTable">
  <div class="displayTableCell text-center">
    <div class="authBlock">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reset Password</h1>
      </div>

      <p>Please enter your email address to request a password reset.</p>

      <div class="form-group">
        <input type="email" class="form-control size250 text-center" style="display:inline" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary size250" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Go back to <span class="slategrey redirect" routerLink="/sign-in">Log In</span> ?</span>
    </div>

  </div>
</div>