<!-- Year -->
<div class="col-12 row">
  <div class="a-container col-12">
    <span class="col-9">2019</span>
    <div class="col-3 tatig">X <span>Tätigkeiten</span></div>
  </div>
  <!-- KW -->
  <div class="b-container col-3" style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>

  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
  <div class="b-container col-3"style="margin-right:20px">
    <br>
    <span class="kw">Kalenderwoche 16</span>
    <div class="tatig">X <span>Tätigkeiten</span></div>
    <ul>
      <li>
        <h4>Mo. 01. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Di. 02. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Mi. 03. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Do. 04. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
      <li>
        <h4>Fr. 05. März 2019</h4>
        <div class="tatig">X <span>Tätigkeiten</span></div>
      </li>
    </ul>

  </div>
</div>