.nav-span {
  display: show;
}

.nav-span-hide {
  display: none;
}

.row-x {
  flex-direction: row;
}

.mL15px {
  margin-left:15px;
}

.navbar {
  height: 7vh;
  width: fill;
}

.inner-adjust {
  height: 93vh;
  background-color: #F8F9FA;
  border-left:1px solid gainsboro;
}

.noPad {
  padding: 0!important;
}
.shadow {
    box-shadow: 15px .5rem 1rem rgba(0,0,0,.15)!important;
}
